.map-content {
  width: 100%;
  height: 100dvh;
  background-color: rgba(38, 9, 10);
}

.control-panel {
  position: absolute;
  margin: 1rem;
  display: flex;
  gap: 0.5rem;
  bottom: 0;
  right: 0;
  flex-direction: column;
  align-items: end;
  z-index: 10;
  .control-panel-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 768px) {
  .navbar {
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    .user-controls-container {
      flex-wrap: wrap;
    }
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 767px) {
  .navbar {
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    min-width: 0;
    .user-controls-container {
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: auto;
      /* Firefox */
      scrollbar-width: none;

      /* IE / Edge legacy */
      -ms-overflow-style: none;

      /* Chrome, Safari, Edge */
      &::-webkit-scrollbar {
        display: none;
      }
      :first-child {
        margin-left: 1rem;
      }
      :last-child {
        margin-right: 1rem;
      }
    }
  }
  .control-panel {
    bottom: 80px;
  }
}
