<!-- <h1>MAp geci</h1> -->

<div #map id="map" class="map-content"></div>

<div class="navbar">
  <div class="searchbar-container">
    <search-input (selectedGISID)="fetchGISObject($event)"></search-input>
  </div>
  <div class="user-controls-container">
    <button class="secondary-btn">paths</button>
    <button class="secondary-btn">areas</button>
    <button class="secondary-btn">places</button>
    <button class="secondary-btn">donate</button>
    <button class="secondary-btn">about</button>
    <button class="secondary-btn">donate</button>
  </div>
</div>
