<div #map id="map" class="map-content"></div>

<div class="navbar">
  <div class="searchbar-container">
    <search-input (selectedGISID)="selectGISFeature($event)"></search-input>
  </div>
  <div class="user-controls-container">
    <button class="secondary-btn">paths</button>
    <button class="secondary-btn">areas</button>
    <button class="secondary-btn">places</button>
    <button class="secondary-btn">discuss</button>
    <button class="secondary-btn">about</button>
    <button class="secondary-btn">donate</button>
  </div>
</div>

@if(isLoading()){
<div class="loading-spinner">
  <img src="assets/images/the_one_ring_loader.gif" alt="Loading..." />
</div>
}
