<div class="wrapper">
  <div class="description">
    <p>{{ 'DONATE_DESCRIPTION' | translate }}</p>
  </div>

  <!-- <img src="assets/images/divider.png" /> -->
  <div class="donate">
    <div class="donate-option">
      <label>{{ 'DONATE_1EURO' | translate }}</label>
      <a href="https://revolut.me/bencegs0f?currency=EUR&amount=100" target="_blank"
        ><button class="primary-btn">1€</button></a
      >
    </div>
    <div class="donate-option">
      <label>{{ 'DONATE_2EURO' | translate }}</label>
      <a href="https://revolut.me/bencegs0f?currency=EUR&amount=200" target="_blank"
        ><button class="primary-btn">2€</button></a
      >
    </div>

    <div class="donate-option">
      <label>{{ 'DONATE_5EURO' | translate }}</label>
      <a href="https://revolut.me/bencegs0f?currency=EUR&amount=500" target="_blank"
        ><button class="primary-btn">5€</button></a
      >
    </div>
  </div>
</div>
