.wrapper {
  padding: 0 1rem;
  height: fit-content;
  .description {
    text-align: justify;
  }
  img {
    width: 100%;
  }
  .donate {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    .donate-option {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: start;
      width: 100%;
      padding: 1rem 0;
      border-bottom: solid var(--secondary-hovered) 1px;
      label {
        color: var(--dark-grey);
      }
    }
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 768px) {
  .wrapper {
    //height: 70%;
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 767px) {
  .wrapper {
    //height: 80%;
  }
}
