<!--DESKTOP-->
@if (!isMobile()) {
  <div
    class="dialog-container-desktop"
    [class.desktop-dialog-open]="!close()"
    [class.desktop-dialog-close]="close()"
  >
    <div class="close-action">
      <button (click)="onCloseDialog()" class="control-panel-button-pill">x</button>
    </div>
    <div class="dialog-content">
      <div class="dialog-title">
        <!--Title-->
        <h1>{{ selectedObject()?.name?.[lang()] }}</h1>
        <!--Subtitle-->
        @if (selectedObject()?.length) {
          <h3>
            {{ selectedObject()?.length?.[unit() === 'metric' ? 'Km' : 'Mi'] | number }}
            {{ unit() === 'metric' ? 'km' : 'mi' }}
          </h3>
        }
        @if (selectedObject()?.area) {
          <h3>
            {{ selectedObject()?.area?.[unit() === 'metric' ? 'sqKm' : 'sqMi'] | number }}
            {{ unit() === 'metric' ? 'km' : 'mi' }}<sup>2</sup>
          </h3>
        }
      </div>
      <img src="assets/images/divider.png" />
      <!--gallery (if has image)-->
      @if (selectedObject()?.gallery?.length) {
        <div id="imgGallery" #imgGallery class="img-gallery">
          @for (img of selectedObject()?.gallery; track img) {
            <a href="{{ img }}" class="img-gallery__item">
              <img src="{{ img }}" alt="{{ selectedObject()?.name?.[lang()] }}" loading="lazy" />
            </a>
          }
        </div>
      }
      <!--Description-->
      <div class="dialog-description">
        <p>{{ selectedObject()?.description?.[lang()] }}</p>
      </div>
    </div>
  </div>
}

<!--MOBILE-->
@if (isMobile() && selectedObject()) {
  <!--  <div
    class="backdrop"
    [class.backdrop-visible]="isExpanded()"
    (click)="onBackdropClick()"
    (pointerdown)="$event.stopPropagation()"
  ></div> -->

  <div
    class="dialog-container-mobile"
    [style.transform]="'translateY(' + currentOffset() + 'px)'"
    [class.sheet-animate]="!isDragging()"
  >
    <div class="header" (mousedown)="startDrag($event)" (touchstart)="startDrag($event)">
      <div (click)="toggleMobile()" class="handle"></div>
      <div class="title">
        {{ selectedObject()?.name?.[lang()] }}
      </div>
    </div>

    <div class="dialog-content">
      <div class="dialog-title">
        <!--Title-->
        <h1>{{ selectedObject()?.name?.[lang()] }}</h1>
        <!--Subtitle-->
        @if (selectedObject()?.length) {
          <h3>
            {{ selectedObject()?.length?.[unit() === 'metric' ? 'Km' : 'Mi'] }}
            {{ unit() === 'metric' ? 'km' : 'mi' }}
          </h3>
        }
        @if (selectedObject()?.area) {
          <h3>
            {{ selectedObject()?.area?.[unit() === 'metric' ? 'sqKm' : 'sqMi'] }}
            {{ unit() === 'metric' ? 'km' : 'mi' }}<sup>2</sup>
          </h3>
        }
      </div>
      <img src="assets/images/divider.png" />
      <!--gallery (if has image)-->
      @if (selectedObject()?.gallery?.length) {
        <div id="imgGallery" #imgGallery class="img-gallery">
          @for (img of selectedObject()?.gallery; track img) {
            <a href="{{ img }}" class="img-gallery__item">
              <img src="{{ img }}" alt="{{ selectedObject()?.name?.[lang()] }}" loading="lazy" />
            </a>
          }
        </div>
      }
      <!--Description-->
      <div class="dialog-description">
        <p>{{ selectedObject()?.description?.[lang()] }}</p>
      </div>
    </div>
  </div>
}
