.chat-container {
  .chat-surface {
    width: 100%;
    //background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    .chat-box {
      width: 100%;
      background-color: white;
      border-radius: 10px;
      min-height: 250px;
      height: 80%;
      max-height: 250px;
      overflow-y: auto;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      .me-chat-input-field {
        position: relative;
        display: flex;
        align-items: center;
        height: 46px;
        //width: min(560px, 92vw);
        width: 100%;

        border-radius: 999px;
        background: var(--white);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

        /* helps “soft” look on map background */
        backdrop-filter: blur(2px);

        /* smooth animation */
        transition:
          transform 140ms ease,
          box-shadow 160ms ease,
          background-color 160ms ease;
        button {
          transition: 300ms;
          opacity: 1;
          margin-right: 1rem;
        }
        button:disabled {
          transition: 300ms;
          opacity: 0;
          width: 0;
          height: 0;
          margin: 0;
          padding: 0;
          img {
            width: 0;
            height: 0;
          }
        }

        .me-chat__input {
          width: 100%;
          height: 100%;
          border: 0;
          outline: none;
          background: transparent;

          padding: 0 1rem 0 1rem; /* right space for buttons */
          color: var(--black);

          font: inherit;
          font-weight: 500;
          letter-spacing: 0.12em;
          text-transform: uppercase;

          /* optional: a tiny “glow” like your gold text vibe, very subtle */
          text-shadow: 0 0 6px rgba(255, 243, 176, 0.2);

          &::placeholder {
            color: var(--light-grey-hovered);
            letter-spacing: 0.12em;
            text-transform: uppercase;
          }
        }
        .char-number-info {
          margin: 0 1rem;
          font-size: small;
        }
      }
    }
  }
}
