.me-search-field {
  --bg: rgba(237, 220, 183, 0.92);
  --text: #202020;
  --placeholder: rgba(32, 32, 32, 0.55);

  --inner: inset 2px 2px 4px rgba(255, 243, 176, 0.74);
  --outer: 0 3px 8px rgba(0, 0, 0, 0.22);

  --ring: 0 0 0 2px rgba(255, 243, 176, 0.55);
  --h: 46px;

  position: relative;
  display: flex;
  align-items: center;
  height: var(--h);
  width: min(560px, 92vw);

  border-radius: 999px;
  background: var(--bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  /* helps “soft” look on map background */
  backdrop-filter: blur(2px);

  /* smooth animation */
  transition:
    transform 140ms ease,
    box-shadow 160ms ease,
    background-color 160ms ease;
  button {
    margin: 0 1rem;
  }
}

.me-search__input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  background: transparent;

  padding: 0 112px 0 18px; /* right space for buttons */
  color: var(--text);

  font: inherit;
  font-weight: 500;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  /* optional: a tiny “glow” like your gold text vibe, very subtle */
  text-shadow: 0 0 6px rgba(255, 243, 176, 0.2);

  &::placeholder {
    color: var(--placeholder);
    letter-spacing: 0.12em;
    text-transform: uppercase;
  }
}

.me-clear__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  height: 34px;
  width: 34px;
  border-radius: 999px;
  border: 0;
  background: transparent;

  display: grid;
  place-items: center;

  cursor: pointer;
  padding: 0;
  user-select: none;

  transition:
    background-color 140ms ease,
    transform 140ms ease,
    opacity 140ms ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }

  &:active {
    transform: translateY(-50%) scale(0.96);
  }
}

.me-clear__btn--clear {
  right: 3rem;
  font-size: 16px;
  color: rgba(32, 32, 32, 0.65);
}

.me-clear--focused {
  transform: translateY(-1px);
  box-shadow: var(--outer), var(--inner), var(--ring);
}

.search-results {
  position: absolute;
  //top: calc(var(--h) + 50px);
  margin-top: 0.3rem;
  width: min(560px, 92vw);
  height: fit-content;
  max-height: 20vh;
  background-color: var(--bg);
  border-radius: 12px;
  //box-shadow: var(--outer), var(--inner);
  overflow-y: auto;
  z-index: 20;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  --bg: rgba(237, 220, 183, 0.92);
  --text: #202020;
  --inner: inset 2px 2px 4px rgba(255, 243, 176, 0.74);
  --outer: 0 3px 8px rgba(0, 0, 0, 0.22);

  --ring: 0 0 0 2px rgba(255, 243, 176, 0.55);

  ul {
    list-style: none;
    height: fit-content;
    li {
      padding: 0.5rem 1rem;
      border-bottom: 1px solid rgba(32, 32, 32, 0.1);
      color: var(--text);
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 243, 176, 0.2);
      }
    }
  }
}

/* Optional: reduce motion if user prefers */
@media (prefers-reduced-motion: reduce) {
  .me-search-field,
  .me-clear__btn {
    transition: none;
  }
}
