<!-- search.component.html -->
<div class="search-wrapper">
  <div class="me-search-field" [class.me-search--focused]="isFocused()">
    <input
      class="me-search__input"
      type="text"
      placeholder="{{ 'SEARCHING_PLACES' | translate }}"
      (keyup)="onSearch()"
      [value]="value()"
      (input)="value.set($any($event.target).value)"
      (focus)="isFocused.set(true)"
      (blur)="isFocused.set(false)"
    />
    <!-- Clear button (only shows if there's text) -->
    @if (value()?.length) {
      <button
        class="me-clear__btn me-clear__btn--clear"
        type="button"
        aria-label="Clear"
        (click)="value.set(''); isFocused.set(true)"
      >
        X
      </button>
    }

    <button
      (click)="changeLanguage()"
      class="lang-selector-button"
      [ngClass]="changeToLangValue() === 'hu' ? 'lang-hu' : 'lang-en'"
    ></button>
  </div>

  @if (searchResults().length > 0 && value().length !== 0) {
    <div class="search-results">
      <ul>
        @for (searchresult of searchResults(); track searchresult) {
          <li (click)="onSearchResultSelected(searchresult.gisID)">
            {{ searchresult.name[translateService.currentLang === 'hu' ? 'HU' : 'EN'] }}
          </li>
        }
      </ul>
    </div>
  }
</div>
