.navbar {
  position: absolute;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  top: 0;
  z-index: 10;
  .searchbar-container {
    margin-left: auto;
    margin-right: auto;
  }
  .user-controls-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
/* DESKTOP VIEW */
@media (min-width: 931px) {
  .navbar {
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
  }
}

/* MOBILE VIEW */
@media (max-width: 930px) {
  .navbar {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .searchbar-container,
    .user-controls-container {
      margin-left: auto;
      margin-right: auto;
    }

    .user-controls-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: auto;
      justify-content: flex-start;
      gap: 0.5rem;
      max-width: 325px;
      padding-bottom: 0.2rem;
    }
  }
}

.secondary-btn.active-button {
  font-weight: 800;
}
