.wrapper {
  //overflow-y: auto;
  padding: 0 1rem;
  height: fit-content;
  .general,
  .details {
    text-align: justify;
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 768px) {
  .wrapper {
    //height: 70%;
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 767px) {
  .wrapper {
    //height: 80%;
  }
}
