.wrapper {
  overflow-y: auto;
}

/* DESKTOP VIEW */
@media only screen and (min-width: 768px) {
  .wrapper {
    height: 70%;
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 767px) {
  .wrapper {
    height: 80%;
  }
}
